<%- include('../partials/header')  %> 
<div class="container">
    <% crystals.forEach(c => { %>....
      <tr>
        <td><%= c.name %></td>
        <td><a href="/crystals/<%= c._id %>">Crystal Details</a></td>
      </tr>
    <% }) %>
    <div class="new-chakra">
      <div id="new">
          <form>
        </form>
        </div>
    
              </div>
</body>
</html>