<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYSTAL CULTIQUE</title>
    <link rel="stylesheet" href="stylesheets/login-style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container" class="flex-ctr">
        <img src="https://imgur.com/k6b5uUF.png" class="flex-ctr" height="300">
        <h1 class="flex-ctr">Come and see what relaxes your soul!</h1>
        <p class="flex-ctr">curious to find out?</p>
        <br><br>
       <button class="login"><a href="/oauth/google" class="login"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-logos-vector-eps-cdr-svg-download-10.png" width="30"class="login">Login with Google</a></button>
    </div>
</body>
</html>