*{
  box-sizing: border-box;
}
body {
  margin-right: 8rem;
  color: rgb(129, 5, 88);
}

#show-container {
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr auto;

}

.browser-default {
  background-color: rgb(226, 177, 197);
  color: rgb(194, 136, 173);
  width: 23rem;
  height: 2rem;
}

h2 {
  font-family: 'Major Mono Display';
  margin: 20px;
}

#user-collections {
  width: 24rem;
  height: 2rem;
}

.item-a {
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}

img.item-a {
  height: 400px;
  opacity: 1;
}

.item-b {
  font-family: 'Megrim';
  justify-self: left;
  float: left;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.item-c {
  justify-self: left;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.item-d {
  justify-self: left;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.item-e {
  justify-self: left;
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
.item-f {
  justify-self: left;
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  display: inline-flex;
}

button {
  display: inline-block;
  margin-top: 5px;
  font-family: 'Megrim';
}

button:hover {
  transition: .2s ease-in-out;
  background: rgb(213, 130, 182);
  color: rgb(224, 142, 197);
}