*{
  box-sizing: border-box;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

.navbar-fixed nav .nav-wrapper {
  font-family: 'Megrim';
  .first ul{
    text-align: left;
  }
  background-image: url(https://i.imgur.com/thVGLDf.jpg);
  background-color: rgb(235, 205, 224);

}

body {
  background: #ab5687;
  background-image: url(https://i.imgur.com/FV6g85P.jpg);
  color: rgb(172, 10, 110);
  font-family: 'Megrim';
  font-size: 2.1rem;
}

p{
  font-family: 'Megrim';
  font-size: 3.5rem;
  color: #790147;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 250px;
  text-align: center;
  column-gap: 1.2rem;;
  row-gap: 5rem;
  padding-top: 27rem;
  color: rgb(97, 0, 58);
}

.new-crystal{
  height: 200px;
}


a {
  text-align: center;
  color: #7a0150;
}

