<%- include('../partials/header')  %> 
<div class="container">
    <% chakras.forEach(c => { %>....
      <tr>
        <td><%= c.location %></td>
        <td><a href="/chakras/<%= c._id %>"></a></td>
      </tr>
       
    <% }) %>
    <div class="new-chakra">
      <div id="new">
          <form>
        </form>
        </div>
    
              </div>
</body>
</html>