<%- include('../partials/header')  %> 
    <p>WARNING: make sure crystal has not already been added to the same chakra!</p>
    <section id=“badge-container”>
      <% chakras.forEach(function(c) { %>
        <article class=“badge”><%= c.name %></article>
      <% }) %>
    </section>
    <form id="new-form" action='/chakras'method="POST">
    
<label>Chakra List:</label>
          <!-- <select name="chakraList">
            <option value="THROAT">THROAT</option>
            <option value="CROWN">CROWN</option>
            <option value="HEART">HEART</option>
            <option value="THIRD EYE">THIRD EYE</option>
            <option value="SOLAR PLEXUS">SOLAR PLEXUS</option>
            <option value="SACRAL">SACRAL</option>
            <option value="ROOT">ROOT</option>
          </select> -->
          <input type="text" name="chakraList"> 
          <input type="submit" value="+ + +">
    </form>
    </body>
</html>