<%- include('../partials/header')  %> 
    <p>WARNING: make sure crystal has not already been added to the same chakra!</p>
    <form id="new-form" action="/chakras" method="POST">
        <label>name of Crystal:</label>
        <input type="text" name="name" required>
        <label>description:</label>
        <input type="text" name="description">
        <label>picture:</label>
        <input type="text" name="image" placeholder="image address only" required>
<label>Chakra List:</label>
          <select name="location">
            <option value="THROAT">THROAT</option>
            <option value="CROWN">CROWN</option>
            <option value="HEART">HEART</option>
            <option value="THIRD EYE">THIRD EYE</option>
            <option value="SOLAR PLEXUS">SOLAR PLEXUS</option>
            <option value="SACRAL">SACRAL</option>
            <option value="ROOT">ROOT</option>
          </select>
          <input type="submit" value="+ + +">
    </form>
    </body>
</html>