<%- include('../partials/header')  %> 
    <p>WARNING: make sure chakra has not already been shared to our collection!</p>
    <form id="new-form" action="/chakras" method="POST">
        <label>name of chakra:</label>
        <input type="text" name="name" required>
        <label>description:</label>
        <input type="text" name="description" placeholder="Please include what it is known to be useful for, fascinating facts about it, and any background information about its origin.">
        <label>picture:</label>
        <input type="text" name="image" placeholder="image address only" required>
        <input type="submit" value="+ + +">
        <label>LOCATION:
          <select name="location">
            <option value="THROAT">THROAT</option>
            <option value="CROWN">CROWN</option>
            <option value="HEART">HEART</option>
            <option value="THIRD EYE">THIRD EYE</option>
            <option value="SOLAR PLEXUS">SOLAR PLEXUS</option>
            <option value="SACRAL">SACRAL</option>
            <option value="ROOT">ROOT</option>
          </select>
    </form>
    </body>
</html>