<%- include('../partials/header')  %> 
    <h2><%= title %></h2>
    <div id="show-container">
        <div class="item-e"><%= chakra.description %></div>
        <div class="item-f">  
            </form>
        </div>
    </div>
</body>
</html>